
body {
	background: url(../Images/login_bg.gif)  repeat-x #152753;
	font-size: 12px;
	color: #adc9d9;
	margin:0;
	padding:0;
	overflow:hidden;
	text-align:center;
}

#main{
	width:1003px;
	margin-left:auto;
	margin-right:auto;
	 padding-right:100px;
	}
#top{
	height:165px;
	width:1003px;
	background-image:url(../Images/login_top.gif);
	background-repeat:no-repeat;}
#logo{
	width:1003px;
	height:144px;
	background-image:url(../Images/login_logo.gif);
	background-repeat:no-repeat;}
#login{
	width:1003px;
	height:106px;
	background-image:url(../Images/login_input.jpg);
	background-repeat:no-repeat;}

#login #inputs{
	width:178px;
	height:80px;
	display:block;
	float:left;
	margin-top:-4px;}
#login #buttons{
	width:72px;
	height:80px;
	float:left;
	display:block;
	margin-top:15px;
	padding-top:10px;}
#bottom{
	width:1003px;
	height:198px;
	background-image:url(../Images/login_bottom.gif);
	background-repeat:no-repeat;}
	


INPUT {
	background-color:#87adbf;
	border:solid 1px #153966;
	font-size:12px;
	color:#283439;
    margin-left: 0px;
}
.chknumber_input {
	width:40px;
}